* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#ffe6f7, #fff);
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    margin-top: 30px;
    color: #b19cd9 ;
}