*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outline {
    border: 1px solid palevioletred;
    margin: .5rem;
}

.main-box {
    width: 100vw;
    height: 100vh;
}